# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
.cache
*.log

# Virtual environment
venv/
.env
.env.local

# Frontend specific
frontend/
node_modules/
public/
src/
functions/
firebase.json
.firebaserc
database.rules.json
firestore.indexes.json
firestore.rules
*.lock

# Development directories
.ipynb_checkpoints
.jupyter

# System Files
.DS_Store
Thumbs.db

# Ignore all markdown files, except the README
*.md
!README.md

# Configuration files
*.yaml
!app.yaml

# Ignore local git config
.git/