body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #0066cc;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #004080;
}

section {
    padding: 2em;
    text-align: center;
}

h2 {
    color: #004080;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-member {
    max-width: 300px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    transition: box-shadow 0.3s;
}

.team-member img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team-member h3 {
    color: #004080;
    margin-bottom: 10px;
}

.team-member p {
    color: #777;
    font-size: 14px;
}

.team-member:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-goals, .values, .achievements, .future-plans, .connect, .visualize {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project-goals h3, .values h3, .achievements h3, .future-plans h3, .connect h3, .visualize h3 {
    color: #004080;
}

.connect a {
    color: #0066cc;
    text-decoration: none;
}

.connect a:hover {
    text-decoration: underline;
}

.project-goals ul, .values ul, .achievements ul, .future-plans ul {
    list-style-type: none;
    padding: 0;
}

.project-goals li, .values li, .achievements li, .future-plans li {
    margin-bottom: 10px;
}
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #0066cc; /* Dropdown background color */
min-width: 160px;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 0px;
text-align: left; /* Align dropdown text to the left */
top: 185%; /* Adjust the value as needed */
}

.dropdown-content a {
color: white;
padding: 12px 16px;
display: block;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s;
}

.dropdown-content a:hover {
background-color: #004080; /* Hover color */
}

.dropdown.active .dropdown-content {
display: block;
}