<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThriveOnFinance - About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    
</head>

<body>
    <header>
        <h1>ThriveOnFinance</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <div class="dropdown" onclick="toggleDropdown(this)">
            <a href="#" class="dropdown-btn">Services</a>
            <div class="dropdown-content">
                <a href="/educational-content">Financial News</a>
                <a href="/interactive-tools">Interactive Tools</a>
                <a href="/investment-education">Investment Education</a>
                <a href="/investment-education">Stock Information</a>
            </div>
        </div>
        <a href="/about">About Us</a>
        <a href="/SignOn">Sign On</a>
    </nav>

    <section class="about-us">
        <h2>About Us</h2>
        <p>Welcome to ThriveOnFinance, where innovation meets financial empowerment. I am a fourth-year computer engineering student, and it's my passion to provide you with the tools and knowledge to thrive in the world of finance.</p>
        <p>At ThriveOnFinance, we believe in simplicity, transparency, and the power of financial literacy. It's not just about managing money; it's about shaping your financial future.</p>
    </section>
    
    <section class="team-section">
        <h2></h2>
        <div class="team-member">
            <img src="{{ url_for('static', filename='images/IMG_9820.jpg') }}" alt="Your Image" width="500" height="333">
            <h3>Joshua Argiropoulos</h3>
            <p>Computer Engineering Student</p>
        </div>
    </section>
    
    <section class="project-goals">
        <h2>Project Goals</h2>
        <ul>
            <li>Educational Content: Unlock your financial potential with engaging articles and step-by-step tutorials.</li>
            <li>Interactive Tools: Empower yourself with practical tools for seamless financial planning.</li>
            <li>Investment Education: Master the art of investing with comprehensive services and market insights.</li>
            <li>Stock Information: Explore historical data and predictions for top stocks using advanced machine learning.</li>
        </ul>
    </section>
    
    <section class="values">
        <h2>Our Core Values</h2>
        <ul>
            <li>Transparency: Providing clear and honest information.</li>
            <li>Education: Empowering users through knowledge.</li>
            <li>Innovation: Bringing innovative solutions to financial challenges.</li>
        </ul>
    </section>
    
    <section class="achievements">
        <h2>Our Achievements</h2>
        <ul>
            <li>Rich repository of educational content.</li>
            <li>User-friendly interactive tools for financial planning.</li>
            <li>Comprehensive investment education services.</li>
            <li>Advanced machine learning techniques for stock information.</li>
        </ul>
    </section>
    
    <section class="future-plans">
        <h2>Looking Ahead: Future Plans</h2>
        <ul>
            <li>Expanding educational content.</li>
            <li>Introducing new features.</li>
            <li>Enhancing the user interface for a seamless experience.</li>
        </ul>
    </section>
    
    <section class="connect">
        <h2>Connect With Us</h2>
        <p>Feel free to reach out at <a href="mailto:Joshua.argiropoulos@gmail.com">Joshua.argiropoulos@gmail.com</a>. Connect on LinkedIn: <a href="https://www.linkedin.com/in/joshua-argiropoulos/" target="_blank">Joshua Argiropoulos</a>.</p>
        <p>Explore the project on <a href="https://github.com/JoshuaArgiropoulos" target="_blank">GitHub</a>.</p>
    </section>
    
    <section class="visualize">
        <h2>Visualize Your Financial Future</h2>
        <p>Explore our project interface for visuals, screenshots, and demos showcasing the user interface and functionalities.</p>
    </section>

<script>
    function toggleDropdown(element) {
        element.classList.toggle("active");
    }
</script>
</body>
</html>