<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThriveOnFinance - Financial News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/financialnews.css') }}">
</head>
<body>
    <header>
        <h1>ThriveOnFinance</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="/">Home</a>
        <div class="dropdown" onclick="toggleDropdown(this)">
            <a href="#" class="dropdown-btn">Services</a>
            <div class="dropdown-content">
                <a href="/Financial-News">Financial News</a>
                <a href="/interactive-tools">Interactive Tools</a>
                <a href="/investment">Investment Education</a>
                <a href="/investment-education">Stock Information</a>
            </div>
        </div>
        <a href="/about">About Us</a>
        <a href="/SignOn">Sign On</a>
    </nav>

    <section id="financial-news">
        <div class="news-container">
            <h2>Latest Financial News</h2>
            {% for article in articles %}
            <div class="news-item">
                <div class="news-image">
                    <img src="{{ article.urlToImage }}" alt="{{ article.title }} Image">
                </div>
                <div class="news-content">
                    <h3 class="news-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                    <p class="news-meta">{{ article.author }} - <span class="news-time">{{ article.publishedAt }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>© 2023 ThriveOnFinance. All rights reserved.</p>
    </footer>

    <!-- Script for Dropdown, if needed -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        function toggleDropdown(element) {
            var dropdownContent = element.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>
</body>
</html>