#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}