
section {
    padding: 2em;
    text-align: center;
}

h2 {
    color: #004080;
}


p {
    color: #666;
    font-size: 16px;
}

/* Updated styles for the form */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #004080;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f8ff;
}


button[type="submit"] {
    background-color: #004080; /* Blue background */
    color: white; /* White text */
    padding: 12px 24px; /* Size of the button */
    font-size: 16px; /* Size of the text */
    border: none; /* Remove the border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Hand icon on hover */
    display: block; /* Center the button */
    width: 100%; /* Full width */
    margin-top: 20px; /* Space above the button */
}

button[type="submit"]:hover {
    background-color: #002040; /* Slightly darker blue on hover */
}


/* Links for sign-up */
.signup-link {
    color: #004080;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}