
.userProfile {
    
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .userProfile h1 {
    color: #333;
    text-align: center;
  }
  
  .userInfo {
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .userInfo p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  
  .userInfo p span {
    font-weight: bold;
  }
  
  .loading {
    text-align: center;
    padding: 50px;
  }
  .centerButton {
    display: flex;
    justify-content: center; /* Horizontally center the button */
    margin-top: 20px; /* Adjust margin as needed */
  }
  .changePasswordBtn {
    padding: 10px 20px; /* Button padding */
    font-size: 1em; /* Font size */
    color: #fff; /* Text color */
    background-color: #007bff; /* Background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor indicates clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    outline: none; /* Remove outline */
    margin-top: 20px; /* Margin at the top to separate from other content */
    
    
  }
  
  .changePasswordBtn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  .changePasswordBtn:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Focus shadow to indicate active state */
  }